body{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #ebebe0;
	margin: 1px;
	padding: 1px;
	}
div{
	margin: 60px auto;
	padding: 30px;
	width: 600px;
	background-color: white;
	box-shadow: 2px 3px 2px 3px #d6d6c2;
	border-radius: 10px;
	}
a:link{
       color: #a31aff;
       }
        	
a:visited{
   		color: #8000ff;
   		 }	